{% extends 'base.html' %}

{% block content %}

{% if ENV == 'PRODUCTION' %}
<script src="https://neon-sample.web.app/js/callNeonCoreAPI.js?v2"></script>
{% else %}
<script src="{{url_for('static', filename='js/callNeonCoreAPI.js')}}"></script>
{% endif%}

<img src="{{url_for('static', filename='images/stockx_nofooter.png')}}" width="100%" height="100%"/>

<div class='row continue'>
  <div class='col'></div>
  <div class='col-1'>
    <button id='stockx_cancel' class='stockx border'>Cancel</button>
  </div>
  <div class='col-1'></div>
  <div class='col-2'>
    <button id='stockx_continue' class='stockx' onClick="integrate_with_neon()">
      Continue with Neon</button>
  </div>
</div>
{% endblock %}
