{% extends 'base.html' %}

{% block content %}

<script type="text/javascript">
  const NeonCoreEndpoint = "https://core-api.joinneon.com"
  const NeonCoreHeader = {
    'X-NEON-TOKEN': "SAMPLE_API_KEY"
  }

  window.addEventListener('message', process_payment_token, false);
  var neonPaymentWindow = '';
  var pmt_token;
  function process_payment_token(evt) {
    if (evt.origin !== NeonCoreEndpoint) {
      console.log('BAD SOURCE');
    } else {
      console.log(evt);
      console.log('TRIGGERED SOME EVVENT', evt.data)
      console.log("ORIGIN: ", evt.origin);
      if (evt.data.hasOwnProperty("payment_token")) {
        var pmt_token_query_param = new URLSearchParams(evt.data).toString();
        console.log("PAYMENT TOKEN: ", evt.data["payment_token"]);
        neonPaymentWindow.close();
        window.location.href='/finish_order?' + pmt_token_query_param;
      }
    }

  }

   function integrate_with_neon() {
     const stockx_data = {
       eligibility: true,
       original_item_price: 274.00,
       original_item_name: "Jordan 11 Retro Jubilee 25th Anniversary",
       original_item_size: "10M",
       manufactuer_part_number: "Sku 378039 011",
       email: "justin@joinneon.com"
     }
     var queryString = $.param(stockx_data);


     // First validate parameters using Neon Core API validate endpoint
     const validateEndpoint = NeonCoreEndpoint + "/core/validate?" + queryString;
     console.log("Calling validation endpoint:  GET ", validateEndpoint);
     var validation_response = fetch(validateEndpoint, {
       headers: NeonCoreHeader,
       mode: 'no-cors'
     })
     .then(function(response) {
       return response.json();
     }).then(function(data) {
       console.log(data);
     });

     // Make POST call to request for a session token for passed parameters using NEON API TOKEN.
     const createInitiateNeonEndpoint = NeonCoreEndpoint + '/core/createInitiateNeonSession?'+queryString;

     $.ajax({
       url: createInitiateNeonEndpoint,
       type: 'POST',
       dataType: 'json',
       data: stockx_data,
       headers: NeonCoreHeader,
       success: function(result) {
         const initiateNeonEndpoint = NeonCoreEndpoint + '/core/initiateNeon/'+result['session_token'];
         console.log('Openning new window: ', initiateNeonEndpoint);
         neonPaymentWindow = window.open(initiateNeonEndpoint,"","resizable=no,width=420,height=520");
         console.log(result);
         console.log(neonPaymentWindow);
       },
       error: function(error) {
         console.log(error)
       }
     });


     // if (neonPaymentWindow.document.queryselector('body').innerText.indexOf('payment_token_ID') > -1) {
     //   neonPaymentWindow.close();
     // }
    //  neonPaymentWindow.onbeforeunload = function () {
    //     // processing event here
    //     alert("new window closed");
    // }
   }
</script>

<img src="{{url_for('static', filename='images/stockx_nofooter.png')}}" width="100%" height="100%"/>

<div class='row continue'>
  <div class='col'></div>
  <div class='col-1'>
    <button id='stockx_cancel' class='stockx border'>Cancel</button>
  </div>
  <div class='col-1'></div>
  <div class='col-2'>
    <button id='stockx_continue' class='stockx' onClick="integrate_with_neon()">
      Continue with Neon</button>
  </div>
</div>
{% endblock %}
