{% extends 'base.html' %}

{% block content %}

{% if ENV == 'PRODUCTION' %}
<script src="https://neon-sample.web.app/js/callNeonCoreAPI.js?v2"></script>
{% else %}
<script src="{{url_for('static', filename='js/callNeonCoreAPI.js')}}"></script>
{% endif%}

<img id='addy' src="{{url_for('static', filename='images/Address_info.png')}}" width="100%" height="100%"/>
<img id='confirm' src="{{url_for('static', filename='images/Confirm_purchase.png')}}" width="100%" height="100%" style='display:none;'/>
<img id='submitted' src="{{url_for('static', filename='images/stockx_nofooter.png')}}" width="100%" height="100%" style='display:none;'/>


<div class='row continue' id='bar'>
  <div class='col'></div>
  <div class='col-1'>
    <button id='stockx_cancel' class='stockx border'>Cancel</button>
  </div>
  <div class='col-1'></div>
  <div class='col-2'>
    <button id='stockx_continue' class='stockx' onClick="call_api_with_address('original_item_size=10&original_item_name=Jordan%2011%20Retro&original_item_price=274&eligibility=True&manufactuer_part_number=MSC-1292')">
      Next</button>

  </div>
</div>
{% endblock %}
